{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <a class="nav-item nav-link btn btn-primary active" href="{% url 'login' %}">Login</a>
    <a class="nav-item nav-link btn btn-primary active" href="{% url 'logout' %}">Logout</a>
    <a class="nav-item nav-link btn btn-primary active" href="{% url 'gear-create' %}">Add new product into Gear</a>
    <a class="nav-item nav-link btn btn-primary active" href="{% url 'outfit-create' %}">Add new product into Outfits</a>
</div>
{% endblock %}